.header-wrapper {
	// sizing & placement
	position: fixed;
	width: 100%;
	height: 80px;
	z-index: 9;

	// background
	background-color: #c4c4c4;

	// display
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.header-wrapper .header-logo {
	// size & placement
	margin-top: 5px;
	margin-left: 75px;
	text-decoration: none;
	color: #000000;
}

.header-wrapper .header-links {
	// size & placement
	width: 30%;

	// display
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	.link {
		// text
		font-size: 1.2rem;
		color: #000000;
		text-decoration: none;
	}
}
