.footer {
	border: 1px blue solid;
	width: 100%;
}

.footer .cont {
	border: 1px red solid;

	width: 80%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.footer .cont .logo {
	padding: 20px;

	border: 1px green solid;
	background-color: #c4c4c4;

	display: flex;
	justify-content: space-around;
	flex-direction: row;
	vertical-align: middle;
	h3 {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}

}

.footer .cont .footer-links {
	padding: 20px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	border: 1px orange solid;
	width: 30%;
	a {
		// margin: 20px;
		&:link {
			text-decoration: none;
			color: black;
		}

		&:hover {
			text-decoration: none;
			color: orange;
			font-size: 115%;
		}

		&:visited,
		&:active {
			text-decoration: none;
			color: black;
		}
	}
}
