.footer-wrapper {
	// sizing & placement
	width: 100%;
	height: 80px;

	// background
	background-color: #ececec;

	// display
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// .footer-wrapper .footer-logo {
// 	// size & placement
// 	margin-top: 5px;
// 	margin-left: 75px;
// 	text-decoration: none;
// 	color: #000000;
// }

.footer-wrapper .footer-links {
	// size & placement
	width: 30%;

	// display
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	.link {
		// text;
		font-size: 1.2rem;
		color: #000000;
		text-decoration: none;
	}
}
