.faq-wrapper {
	height: auto;
	width: 50%;
	margin: 0 auto;
	padding: 50px 0px;
}
.faq-wrapper .faq-card {
	padding: 10px 0px;
	text-align: left;
}

.faq-wrapper .faq-card .faq-item {
	color: black;
	text-decoration: none;
	font-weight: 700;
}
