.testimonials-wrapper {
	margin: 50px 0 100px 0;
}

.testimonials-wrapper .set-wrapper {
	display: flex;
	flex-direction: row;
	max-width: 1150px;
	height: 330px;
	margin: 0 auto;
	border-radius: 5px;
	background-image: url("../../assets/testimonial-imgs/testimonialbackground.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.testimonials-wrapper .testimonials-quote {
	margin: auto;
	padding: 0 50px 0 50px;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 700;
}

.testimonials-wrapper .testimonials-quote i {
	font-weight: 500;
}

.testimonials-wrapper img {
	// width: 450px;
	height: 330px;
	border-radius: 5px;
	margin: auto 0;
}
